In [4]:
import pandas as pd

# Criando DataFrame - pd.DataFrame()
<p> Para criar um dataframe utilizaremos o comando pd.DataFrame, porém antes será necessário a criação de um dicionário de listas que representará, os valores e colunas. </p>

In [1]:
# Dicionário de listas
dataset_produtos = {
    'Produto':['Produto 1','Produto 1','Produto 2','Produto 3','Produto 4','Produto 5','Produto 6','Produto 6','Produto 7'],
    'Preco':[25000,28000,30000,35000,33000,30000,12000,50000,40000],
    'Desconto':['20%','30%','40%','10%','30%','40%','80%','35%','44%']
}

In [2]:
dataset_produtos

{'Produto': ['Produto 1',
  'Produto 1',
  'Produto 2',
  'Produto 3',
  'Produto 4',
  'Produto 5',
  'Produto 6',
  'Produto 6',
  'Produto 7'],
 'Preco': [25000, 28000, 30000, 35000, 33000, 30000, 12000, 50000, 40000],
 'Desconto': ['20%', '30%', '40%', '10%', '30%', '40%', '80%', '35%', '44%']}

In [5]:
# Comando para criação DataFrame
df_produtos = pd.DataFrame(dataset_produtos)

In [6]:
# .head() mostra top 5 linhas df
df_produtos.head()

     Produto  Preco Desconto
0  Produto 1  25000      20%
1  Produto 1  28000      30%
2  Produto 2  30000      40%
3  Produto 3  35000      10%
4  Produto 4  33000      30%

# Aplicando Funções .map() - .apply() - .agg()

In [7]:
df_produtos

     Produto  Preco Desconto
0  Produto 1  25000      20%
1  Produto 1  28000      30%
2  Produto 2  30000      40%
3  Produto 3  35000      10%
4  Produto 4  33000      30%
5  Produto 5  30000      40%
6  Produto 6  12000      80%
7  Produto 6  50000      35%
8  Produto 7  40000      44%

In [8]:
function = lambda x:x+' 2021' # função a ser aplicada

## .map()
<p> O map efetua o mapeamento dos dados do dataframe, aplicando uma função, assim como a função map built-in do python.</p>

In [13]:
# Utilizando a função Map para aplicar a função na coluna Produto
df_produtos['AnoMap'] = df_produtos['Produto'].map(function)
df_produtos

     Produto  Preco Desconto          AnoMap
0  Produto 1  25000      20%  Produto 1 2021
1  Produto 1  28000      30%  Produto 1 2021
2  Produto 2  30000      40%  Produto 2 2021
3  Produto 3  35000      10%  Produto 3 2021
4  Produto 4  33000      30%  Produto 4 2021
5  Produto 5  30000      40%  Produto 5 2021
6  Produto 6  12000      80%  Produto 6 2021
7  Produto 6  50000      35%  Produto 6 2021
8  Produto 7  40000      44%  Produto 7 2021

## .apply()
<p> o Apply tem objetvio de aplicar determinda função no nosso conjunto de dados. </p>

In [15]:
df_produtos['AnoApply'] = df_produtos['Produto'].apply(function)
df_produtos

     Produto  Preco Desconto          AnoMap        AnoApply
0  Produto 1  25000      20%  Produto 1 2021  Produto 1 2021
1  Produto 1  28000      30%  Produto 1 2021  Produto 1 2021
2  Produto 2  30000      40%  Produto 2 2021  Produto 2 2021
3  Produto 3  35000      10%  Produto 3 2021  Produto 3 2021
4  Produto 4  33000      30%  Produto 4 2021  Produto 4 2021
5  Produto 5  30000      40%  Produto 5 2021  Produto 5 2021
6  Produto 6  12000      80%  Produto 6 2021  Produto 6 2021
7  Produto 6  50000      35%  Produto 6 2021  Produto 6 2021
8  Produto 7  40000      44%  Produto 7 2021  Produto 7 2021

## .agg()
<p> O agg efetua a mesma coisa, com uma vatangem, pois pode aplicar uma lista de funções em uma lista de colunas. </p>

In [17]:
df_produtos['AnoAgg'] = df_produtos['Produto'].agg(function)
df_produtos

     Produto  Preco Desconto          AnoMap        AnoApply          AnoAgg
0  Produto 1  25000      20%  Produto 1 2021  Produto 1 2021  Produto 1 2021
1  Produto 1  28000      30%  Produto 1 2021  Produto 1 2021  Produto 1 2021
2  Produto 2  30000      40%  Produto 2 2021  Produto 2 2021  Produto 2 2021
3  Produto 3  35000      10%  Produto 3 2021  Produto 3 2021  Produto 3 2021
4  Produto 4  33000      30%  Produto 4 2021  Produto 4 2021  Produto 4 2021
5  Produto 5  30000      40%  Produto 5 2021  Produto 5 2021  Produto 5 2021
6  Produto 6  12000      80%  Produto 6 2021  Produto 6 2021  Produto 6 2021
7  Produto 6  50000      35%  Produto 6 2021  Produto 6 2021  Produto 6 2021
8  Produto 7  40000      44%  Produto 7 2021  Produto 7 2021  Produto 7 2021

In [13]:
carros2

,Carro,Preco,Desconto,AnoMap,AnoApply,AnoAgg
0,Chervrolet,25000,20%,Chervrolet 2021,Chervrolet 2021,Chervrolet 2021
1,Fiat,30000,30%,Fiat 2021,Fiat 2021,Fiat 2021
2,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
3,Volkswagen,31000,10%,Volkswagen 2021,Volkswagen 2021,Volkswagen 2021
4,Ford,40000,30%,Ford 2021,Ford 2021,Ford 2021
5,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
6,Mercedes,120000,100%,Mercedes 2021,Mercedes 2021,Mercedes 2021

# Estatisticas - .info() - .describe() - .mean() - .max() - .min()...

In [14]:
df_produtos

,Carro,Preco,Desconto,AnoMap,AnoApply,AnoAgg
0,Chervrolet,25000,20%,Chervrolet 2021,Chervrolet 2021,Chervrolet 2021
1,Fiat,30000,30%,Fiat 2021,Fiat 2021,Fiat 2021
2,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
3,Volkswagen,31000,10%,Volkswagen 2021,Volkswagen 2021,Volkswagen 2021
4,Ford,40000,30%,Ford 2021,Ford 2021,Ford 2021
5,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
6,Mercedes,120000,100%,Mercedes 2021,Mercedes 2021,Mercedes 2021

## .corr()
<p> Retorna a correlação entre as colunas. </p>

In [30]:
# Como só temos a coluna preço, então é igual a 100%
df_produtos.corr()

       Preco
Preco    1.0

## .skew()
Retorna simetria dos dados.

In [29]:
df_produtos['Preco'].skew()

-0.08563322901771594

## .info()
<p> Retorna informações dos dados como tipos dos dados, colunas null etc </p>

In [31]:
df_produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Produto   9 non-null      object
 1   Preco     9 non-null      int64
 2   Desconto  9 non-null      object
 3   AnoMap    9 non-null      object
 4   AnoApply  9 non-null      object
 5   AnoAgg    9 non-null      object
dtypes: int64(1), object(5)
memory usage: 560.0+ bytes

## .describe() 
<p> Retorna estatisticas resumidas dos dados </p>

In [22]:
df_produtos.describe()

              Preco
count      9.000000
mean   31444.444444
std    10417.666619
min    12000.000000
25%    28000.000000
50%    30000.000000
75%    35000.000000
max    50000.000000

## Estatisticas individuais .mean() - .max() - .min() - .std() - .cumsum() - .cumprod()

### .mean()
<p> Média </p>

In [23]:
df_produtos['Preco'].mean()

31444.444444444445

### .max()
<p> Maior Valor </p>

In [24]:
df_produtos['Preco'].max()

50000

### .min()
<p> Menor Valor </p>

In [25]:
df_produtos['Preco'].min()

12000

### .std()
<p> Desvio Padrão </p>

In [26]:
df_produtos['Preco'].std()

10417.666618671274

### .cumsum()
<p> Soma Acumulada </p>

In [27]:
df_produtos['Preco'].cumsum()

0     25000
1     53000
2     83000
3    118000
4    151000
5    181000
6    193000
7    243000
8    283000
Name: Preco, dtype: int64

### .cumprod()
<p> Mutiplicação Acumulada </p>

In [28]:
df_produtos['Preco'].cumprod()

0                  25000
1              700000000
2         21000000000000
3     735000000000000000
4   -2468456928060375040
5   -8477129941111013376
6    8234273176016650240
7     777819709029482496
8   -6868891168713736192
Name: Preco, dtype: int64