In [4]:
import pandas as pd

# Criando DataFrame - pd.DataFrame()
<p> Para criar um dataframe utilizaremos o comando pd.DataFrame, porém antes será necessário a criação de um dicionário de listas que representará, os valores e colunas. </p>

In [5]:
# Dicionário de listas
dataset_produtos = {
    'Produto':['Produto 1','Produto 1','Produto 2','Produto 3','Produto 4','Produto 5','Produto 6','Produto 6','Produto 7'],
    'Preco':[25000,28000,30000,35000,33000,30000,12000,50000,40000],
    'Desconto':['20%','30%','40%','10%','30%','40%','80%','35%','44%']
}

In [6]:
dataset_produtos

{'Produto': ['Produto 1',
  'Produto 1',
  'Produto 2',
  'Produto 3',
  'Produto 4',
  'Produto 5',
  'Produto 6',
  'Produto 6',
  'Produto 7'],
 'Preco': [25000, 28000, 30000, 35000, 33000, 30000, 12000, 50000, 40000],
 'Desconto': ['20%', '30%', '40%', '10%', '30%', '40%', '80%', '35%', '44%']}

In [7]:
# Comando para criação DataFrame
df_produtos = pd.DataFrame(dataset_produtos)

In [8]:
# .head() mostra top 5 linhas df
df_produtos.head()

     Produto  Preco Desconto
0  Produto 1  25000      20%
1  Produto 1  28000      30%
2  Produto 2  30000      40%
3  Produto 3  35000      10%
4  Produto 4  33000      30%

# Lidando Com Indices - .set_index() - .reset_index() - .sort_index()

## .set_index()
<p>Transformando Produto na nossa coluna indice.</p>

In [10]:
df_produtos.set_index('Produto')

           Preco Desconto
Produto
Produto 1  25000      20%
Produto 1  28000      30%
Produto 2  30000      40%
Produto 3  35000      10%
Produto 4  33000      30%
Produto 5  30000      40%
Produto 6  12000      80%
Produto 6  50000      35%
Produto 7  40000      44%

## .rest_index()
<p> Transformando nosso indice em coluna e criando um novo indice. </p>

In [165]:
df_produtos.reset_index()

   index       Carro   Preco Desconto
0      0  Chervrolet   25000      20%
1      1        Fiat   30000      30%
2      2         Uno   32000      40%
3      3  Volkswagen   31000      10%
4      4        Ford   40000      30%
5      5         Uno   32000      40%
6      6    Mercedes  120000     100%

In [166]:
df_produtos.reset_index(drop=True)

        Carro   Preco Desconto
0  Chervrolet   25000      20%
1        Fiat   30000      30%
2         Uno   32000      40%
3  Volkswagen   31000      10%
4        Ford   40000      30%
5         Uno   32000      40%
6    Mercedes  120000     100%

## .sort_index()
<p> Organizando nossos dados com base em uma determinada coluna, junto aos nossos indices </p>

In [11]:
df_produtos.sort_index(level=['Desconto'], ascending = [False])

     Produto  Preco Desconto
8  Produto 7  40000      44%
7  Produto 6  50000      35%
6  Produto 6  12000      80%
5  Produto 5  30000      40%
4  Produto 4  33000      30%
3  Produto 3  35000      10%
2  Produto 2  30000      40%
1  Produto 1  28000      30%
0  Produto 1  25000      20%

## Criando e Selecionando Duplo Indice

In [13]:
df_produtos_set = df_produtos.set_index(['Produto','Desconto'])

In [14]:
df_produtos_set

                    Preco
Produto   Desconto
Produto 1 20%       25000
          30%       28000
Produto 2 40%       30000
Produto 3 10%       35000
Produto 4 30%       33000
Produto 5 40%       30000
Produto 6 80%       12000
          35%       50000
Produto 7 44%       40000

In [15]:
# Selecionando com duplo indice
df_produtos_set.loc[[('Produto 1','20%'),('Produto 4','30%')]]

                    Preco
Produto   Desconto
Produto 1 20%       25000
Produto 4 30%       33000