In [4]:
import pandas as pd

# Criando DataFrame - pd.DataFrame()
<p> Para criar um dataframe utilizaremos o comando pd.DataFrame, porém antes será necessário a criação de um dicionário de listas que representará, os valores e colunas. </p>

In [5]:
# Dicionário de listas
dataset_carros = {
    'Carro':['Chervrolet','Fiat','Uno','Volkswagen','Ford','Uno','Mercedes'],
    'Preco':[25000,30000,32000,31000,40000,32000,120000],
    'Desconto':['20%','30%','40%','10%','30%','40%','100%']
}

In [6]:
dataset_carros

{'Carro': ['Chervrolet',
  'Fiat',
  'Uno',
  'Volkswagen',
  'Ford',
  'Uno',
  'Mercedes'],
 'Preco': [25000, 30000, 32000, 31000, 40000, 32000, 120000],
 'Desconto': ['20%', '30%', '40%', '10%', '30%', '40%', '100%']}

In [7]:
# Comando Criação DataFrame
carros2 = pd.DataFrame(dataset_carros)

In [8]:
carros2.head()

        Carro  Preco Desconto
0  Chervrolet  25000      20%
1        Fiat  30000      30%
2         Uno  32000      40%
3  Volkswagen  31000      10%
4        Ford  40000      30%

# Aplicando Funções .map() - .apply() - .agg()

In [9]:
carros2

        Carro   Preco Desconto
0  Chervrolet   25000      20%
1        Fiat   30000      30%
2         Uno   32000      40%
3  Volkswagen   31000      10%
4        Ford   40000      30%
5         Uno   32000      40%
6    Mercedes  120000     100%

In [7]:
function = lambda x:x+' 2021' # função a ser aplicada

## .map()
<p> O map efetua o mapeamento dos dados, aplicando uma função ou dicionário </p>

In [8]:
carros2['AnoMap'] = carros2['Carro'].map(function)

In [9]:
carros2

        Carro   Preco Desconto           AnoMap
0  Chervrolet   25000      20%  Chervrolet 2021
1        Fiat   30000      30%        Fiat 2021
2         Uno   32000      40%         Uno 2021
3  Volkswagen   31000      10%  Volkswagen 2021
4        Ford   40000      30%        Ford 2021
5         Uno   32000      40%         Uno 2021
6    Mercedes  120000     100%    Mercedes 2021

## .apply()
<p> o Apply tem objetvio de aplicar determinda função no nosso conjunto de dados. </p>

In [10]:
carros2['AnoApply'] = carros2['Carro'].apply(function)

In [11]:
carros2

        Carro   Preco Desconto           AnoMap         AnoApply
0  Chervrolet   25000      20%  Chervrolet 2021  Chervrolet 2021
1        Fiat   30000      30%        Fiat 2021        Fiat 2021
2         Uno   32000      40%         Uno 2021         Uno 2021
3  Volkswagen   31000      10%  Volkswagen 2021  Volkswagen 2021
4        Ford   40000      30%        Ford 2021        Ford 2021
5         Uno   32000      40%         Uno 2021         Uno 2021
6    Mercedes  120000     100%    Mercedes 2021    Mercedes 2021

## .agg()
<p> O agg efetua a mesma coisa, com uma vatangem, pois pode aplicar uma lista de funções em uma lista de colunas </p>

In [12]:
carros2['AnoAgg'] = carros2['Carro'].agg(function)

In [13]:
carros2

,Carro,Preco,Desconto,AnoMap,AnoApply,AnoAgg
0,Chervrolet,25000,20%,Chervrolet 2021,Chervrolet 2021,Chervrolet 2021
1,Fiat,30000,30%,Fiat 2021,Fiat 2021,Fiat 2021
2,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
3,Volkswagen,31000,10%,Volkswagen 2021,Volkswagen 2021,Volkswagen 2021
4,Ford,40000,30%,Ford 2021,Ford 2021,Ford 2021
5,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
6,Mercedes,120000,100%,Mercedes 2021,Mercedes 2021,Mercedes 2021

# Estatisticas - .info() - .describe() - .mean() - .max() - .min()...

In [14]:
carros2

,Carro,Preco,Desconto,AnoMap,AnoApply,AnoAgg
0,Chervrolet,25000,20%,Chervrolet 2021,Chervrolet 2021,Chervrolet 2021
1,Fiat,30000,30%,Fiat 2021,Fiat 2021,Fiat 2021
2,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
3,Volkswagen,31000,10%,Volkswagen 2021,Volkswagen 2021,Volkswagen 2021
4,Ford,40000,30%,Ford 2021,Ford 2021,Ford 2021
5,Uno,32000,40%,Uno 2021,Uno 2021,Uno 2021
6,Mercedes,120000,100%,Mercedes 2021,Mercedes 2021,Mercedes 2021

## .corr()
<p> Retorna a correlação entre as colunas. </p>

In [11]:
carros2.corr() # Como só temos a coluna preço, então é igual a 100%

       Preco
Preco    1.0

## .skew()
<p> Simetria dos dados, usado para verificação de distribuição normal </p>

In [13]:
carros2['Preco'].skew()

2.55218634506766

## .info()
<p> Retorna informações dos dados como tipos dos dados, colunas null etc </p>

In [15]:
carros2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Carro     7 non-null      object
 1   Preco     7 non-null      int64
 2   Desconto  7 non-null      object
 3   AnoMap    7 non-null      object
 4   AnoApply  7 non-null      object
 5   AnoAgg    7 non-null      object
dtypes: int64(1), object(5)
memory usage: 464.0+ bytes

## .describe() 
<p> Retorna estatisticas resumidas dos dados </p>

In [16]:
carros2.describe()

               Preco
count       7.000000
mean    44285.714286
std     33678.451497
min     25000.000000
25%     30500.000000
50%     32000.000000
75%     36000.000000
max    120000.000000

## Estatisticas individuais .mean() - .max() - .min() - .std() - .cumsum() - .cumprod()

### .mean()
<p> Média </p>

In [17]:
carros2['Preco'].mean()

44285.71428571428

### .max()
<p> Maior Valor </p>

In [18]:
carros2['Preco'].max()

120000

### .min()
<p> Menor Valor </p>

In [19]:
carros2['Preco'].min()

25000

### .std()
<p> Desvio Padrão </p>

In [20]:
carros2['Preco'].std()

33678.451497034344

### .cumsum()
<p> Soma Acumulada </p>

In [21]:
carros2['Preco'].cumsum()

0     25000
1     55000
2     87000
3    118000
4    158000
5    190000
6    310000
Name: Preco, dtype: int64

### .cumprod()
<p> Mutiplicação Acumulada </p>

In [22]:
carros2['Preco'].cumprod()

0                  25000
1              750000000
2         24000000000000
3     744000000000000000
4    5401809106493243392
5   -6547306948419649536
6    6889777079278108672
Name: Preco, dtype: int64