In [81]:
import pandas as pd

# Criando DataFrame - pd.DataFrame()
<p> Para criar um dataframe utilizaremos o comando pd.DataFrame, porém antes será necessário a criação de um dicionário de listas que representará, os valores e colunas. </p>

In [136]:
# Dicionário de listas
dataset_carros = {
    'Carro':['Chervrolet','Fiat','Uno','Volkswagen','Ford','Uno','Mercedes'],
    'Preco':[25000,30000,32000,31000,40000,32000,120000],
    'Desconto':['20%','30%','40%','10%','30%','40%','100%']
}

In [137]:
dataset_carros

{'Carro': ['Chervrolet',
  'Fiat',
  'Uno',
  'Volkswagen',
  'Ford',
  'Uno',
  'Mercedes'],
 'Preco': [25000, 30000, 32000, 31000, 40000, 32000, 120000],
 'Desconto': ['20%', '30%', '40%', '10%', '30%', '40%', '100%']}

In [138]:
# Comando Criação DataFrame
carros2 = pd.DataFrame(dataset_carros)

In [85]:
carros2.head()

        Carro  Preco Desconto
0  Chervrolet  25000      20%
1        Fiat  30000      30%
2         Uno  32000      40%
3  Volkswagen  31000      10%
4        Ford  40000      30%

# Seleção De Dados - .loc[] - .iloc[] - .isin() - .query() - [(bool1)]

In [116]:
carros2.head(4)

        Carro  Preco Desconto
0  Chervrolet  25000      20%
1        Fiat  30000      30%
2         Uno  32000      40%
3  Volkswagen  31000      10%

## .loc 
<p> Com .loc poderemos efetuar uma seleção de dados baseada em seus indicies e colunas diferente da seleção booleana normal.</p>
<p>
    <b>loc[[seleção eixo x(indice)][seleção eixo y(coluna)]]</b>
</p>

In [86]:
carros2.loc[2:3]

        Carro  Preco Desconto
2         Uno  32000      40%
3  Volkswagen  31000      10%

In [87]:
# seleção de carros e preços

In [88]:
carros2.loc[0:2][['Carro','Preco']]

        Carro  Preco
0  Chervrolet  25000
1        Fiat  30000
2         Uno  32000

## .iloc 
<p> com iloc podemos efetuar uma seleção pelo indice diretamente </p>
<p>     <b>iloc[[numero indice x(indice)][numero indice y(coluna)]]</b> </p>

In [14]:
carros2.iloc[0][0]

'Chervrolet'

## Booleanos lógicos & | 
<p> Sem o uso do loc ou iloc, podemos ainda utilizar operações booleanas para encontrar nos dados </p>
<p> Tendo os operadores lógicos<b> & </b>para determinar situações que acontecem simultaneamente, ou <b> |</b> para situações que ocorram individualmente. </p>

In [16]:
carros2[(carros2['Preco']>=30000) & (carros2['Carro'] == 'Fiat')]

  Carro  Preco Desconto
1  Fiat  30000      30%

In [17]:
carros2[carros2['Carro'] == 'Fiat']

  Carro  Preco Desconto
1  Fiat  30000      30%

## .isin() 
<p> O isin pode efetuar uma seleção dos dados de maneira direta, sendo capaz de selecionar os dados diretamente por seus valores. </p>
<p> <b> Dica: </b> Podemos usar o isin para fazer a checkagem de valores iguais entre dois dataframes, passando para o isin a coluna de um dataframe. </p>

In [19]:
carros2[carros2['Carro'].isin(['Chervrolet','Fiat'])]

        Carro  Preco Desconto
0  Chervrolet  25000      20%
1        Fiat  30000      30%

## .query
<p> Com Query podemos fazer uma seleção que imite a seleção do SQL, efetuando querys para uma ou mais seleções. </p>

In [90]:
carros2.query("Carro == 'Chervrolet'")

        Carro  Preco Desconto
0  Chervrolet  25000      20%

In [91]:
carros2.query("Carro == 'Chervrolet' or Preco >= 32000")

        Carro   Preco Desconto
0  Chervrolet   25000      20%
2         Uno   32000      40%
4        Ford   40000      30%
5         Uno   32000      40%
6    Mercedes  120000     100%

# Loops Em DataFrames - .iterrows()

In [23]:
carros2

        Carro  Preco Desconto
0  Chervrolet  25000      20%
1        Fiat  30000      30%
2         Uno  32000      40%
3  Volkswagen  31000      10%

## for normal
<p> Um for normal dentro de um DataFrame só nos retornará as colunas do DataFrame, com isso será necessário utilizar de algum método que nos forneça uma seleção melhor. </p>

In [24]:
for i in carros2:
    print(i)

Carro
Preco
Desconto

## .iterrows()
<p> O iterrows tem objetivo de fazer uma divisão de linhas no nosso dataset, criando assim uma seleção mais utilizavel. </p>

In [123]:
for indices,valores in carros2.iterrows():
    print(valores['Carro'])

Chervrolet
Fiat
Uno
Volkswagen
Ford
Uno
Mercedes

In [124]:
# criando uma nova coluna com iterrows
for lin,col in carros2.iterrows():
    carros2.loc[lin,'iterrows_len'] = len(col['Carro'])

In [30]:
carros2

        Carro  Preco Desconto  newcol
0  Chervrolet  25000      20%    10.0
1        Fiat  30000      30%     4.0
2         Uno  32000      40%     3.0
3  Volkswagen  31000      10%    10.0