# Criando DATAFRAME .DataFrame( ) - .head( )
<p> Podemos criar Dataframes de duas maneiras, sendo elas <b> Dicionário de Listas </b> e <b> Listas de Dicionários </b> </p>

```python
dic = { 'coluna':['valor1','valor2'...] }
df = pd.DataFrame(dic)

df.head()  Mostra o cabeçalho do DataFrame
```

In [4]:
import pandas as pd

In [5]:
dicio = {
"country":["Brazil","Russia","India","China","South Africa"],
"capital":["Brasilia","Moscow","New Delhi","Beijing","Pretoria"],
"area":[8.516, 17.10, 3.286, 9.597, 1.221],
"population":[200.4, 143.5, 1252, 1357, 52.98] 
}

In [6]:
df = pd.DataFrame(dicio)

In [7]:
df

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [9]:
df.head(2)

  country   capital    area  population
0  Brazil  Brasilia   8.516       200.4
1  Russia    Moscow  17.100       143.5

# Salvando um DataFrame - .to_csv( url )
<p> Podemos salvar um dataframe criado ou atualizado no nosso computador utilizando o comando <b>to</b> </p>

```python
df.to_csv( 'url' )
```

In [12]:
# Utilizamos do to_csv junto a sua URL
df.to_csv('C:/Users/felip/Desktop/df.csv')