In [81]:
import pandas as pd

# Criando DataFrame - pd.DataFrame()
<p> Para criar um dataframe utilizaremos o comando pd.DataFrame, porém antes será necessário a criação de um dicionário de listas que representará, os valores e colunas. </p>

In [153]:
# Dicionário de listas
dataset_carros = {
    'Carro':['Chervrolet','Fiat','Uno','Volkswagen','Ford','Uno','Mercedes'],
    'Preco':[25000,30000,32000,31000,40000,32000,120000],
    'Desconto':['20%','30%','40%','10%','30%','40%','100%']
}

In [154]:
dataset_carros

{'Carro': ['Chervrolet',
  'Fiat',
  'Uno',
  'Volkswagen',
  'Ford',
  'Uno',
  'Mercedes'],
 'Preco': [25000, 30000, 32000, 31000, 40000, 32000, 120000],
 'Desconto': ['20%', '30%', '40%', '10%', '30%', '40%', '100%']}

In [155]:
# Comando Criação DataFrame
carros2 = pd.DataFrame(dataset_carros)

In [156]:
carros2.head()

        Carro  Preco Desconto
0  Chervrolet  25000      20%
1        Fiat  30000      30%
2         Uno  32000      40%
3  Volkswagen  31000      10%
4        Ford  40000      30%

# Lidando Com Indices - .set_index() - .reset_index() - .sort_index()

## .set_index()
<p>Transformando carros na nossa coluna indice.</p>

In [164]:
carros2.set_index('Carro')

             Preco Desconto
Carro
Chervrolet   25000      20%
Fiat         30000      30%
Uno          32000      40%
Volkswagen   31000      10%
Ford         40000      30%
Uno          32000      40%
Mercedes    120000     100%

## .rest_index()
<p> Transformando nosso indice em coluna e criando um novo indice </p>

In [165]:
carros2.reset_index()

   index       Carro   Preco Desconto
0      0  Chervrolet   25000      20%
1      1        Fiat   30000      30%
2      2         Uno   32000      40%
3      3  Volkswagen   31000      10%
4      4        Ford   40000      30%
5      5         Uno   32000      40%
6      6    Mercedes  120000     100%

In [166]:
carros2.reset_index(drop=True)

        Carro   Preco Desconto
0  Chervrolet   25000      20%
1        Fiat   30000      30%
2         Uno   32000      40%
3  Volkswagen   31000      10%
4        Ford   40000      30%
5         Uno   32000      40%
6    Mercedes  120000     100%

## .sort_index()
<p> Organizando nossos dados com base em uma determinada coluna, junto aos nossos indices </p>

In [170]:
carros2.sort_index(level=['Desconto'], ascending = [False])

        Carro   Preco Desconto
0  Chervrolet   25000      20%
1        Fiat   30000      30%
2         Uno   32000      40%
3  Volkswagen   31000      10%
4        Ford   40000      30%
5         Uno   32000      40%
6    Mercedes  120000     100%

## Criando e Selecionando Duplo Indice

In [167]:
carros3 = carros2.set_index(['Carro','Desconto'])

In [168]:
carros3

                      Preco
Carro      Desconto
Chervrolet 20%        25000
Fiat       30%        30000
Uno        40%        32000
Volkswagen 10%        31000
Ford       30%        40000
Uno        40%        32000
Mercedes   100%      120000

In [169]:
# Selecionando com duplo indice
carros3.loc[[('Chervrolet','20%'),('Fiat','30%')]]

                     Preco
Carro      Desconto
Chervrolet 20%       25000
Fiat       30%       30000